@charset "UTF-8";
header {
  width: 100%;
  border-bottom: 1px solid #b5b5b5;
}

header .header-wrap {
  width: 768px;
  height: 106px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  header .header-wrap {
    width: 100%;
    height: 62px;
  }
}

header .logo {
  background: url(../img/common/header-logo.png) no-repeat left center;
  width: 266px;
  height: 48px;
  margin: 30px 14px 28px 14px;
  font-size: 0;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  header .logo {
    width: 170px;
    height: 30px;
    background-size: auto 30px;
    margin: 20px 8px 12px 8px;
  }
}

.nav-footer-02 {
  height: 200px;
  width: 100%;
  background: #3281dd url(../img/common/bg_footer_02.png) no-repeat 100% 100%;
}

.nav-footer-02 .box-footer {
  width: 760px;
  margin: 0 auto;
}

.nav-footer-02 .box-footer::before {
  display: table;
  content: " ";
}

.nav-footer-02 .box-footer .column-w100 {
  width: 60%;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
  padding-bottom: 10px;
}

.nav-footer-02 .box-footer .column-w100 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-footer-02 .box-footer .column-01 {
  float: left;
  width: 250px;
  margin: 0 20px 0 0;
}

.nav-footer-02 .box-footer .column-01 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-footer-02 .box-footer .column-02 {
  float: left;
  width: 250px;
  margin: 0;
}

.nav-footer-02 .box-footer .column-02 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-footer-02 .box-footer .column-03 {
  float: left;
  margin: 40px 0 0 0;
}

.nav-footer-02 .box-footer .column-03 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: auto;
}

.list li {
  margin-bottom: 12px;
  list-style-type: none;
}

.list li a {
  color: #fff;
  position: relative;
  display: inline-block;
  padding-left: 15px;
  text-decoration: none;
}

.list li a:hover {
  text-decoration: underline;
}

.list li a::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "";
  border: 4px solid transparent;
  border-right-width: 5px;
  border-left: 5px solid #fff;
}

.copyright {
  display: block;
  width: 100%;
  padding: 8px 0;
  color: #fff;
  text-align: center;
  background: #175195;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .nav-footer-02 {
    min-width: inherit;
    height: auto;
    min-height: 160px;
    font-size: 10px;
    background: #3281dd;
    color: #fff;
    text-align: center;
    line-height: 1;
  }
  .nav-footer-02 .box-footer {
    background: none;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 0 0 20px;
    font-size: 0;
    text-align: left;
  }
  .nav-footer-02 .box-footer .column-w100 {
    width: 100%;
    margin: 20px 0 10px;
    display: inline-block;
    vertical-align: top;
  }
  .nav-footer-02 .box-footer .column-w100 ul {
    font-size: 12px;
  }
  .nav-footer-02 .box-footer .column-w100 ul li a {
    vertical-align: top;
    padding: 2px 10px 0 25px;
  }
  .nav-footer-02 .box-footer .column-01 {
    float: none;
    width: 50%;
    margin: 0;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
  }
  .nav-footer-02 .box-footer .column-01 li a {
    vertical-align: top;
    padding: 2px 10px 0 25px;
  }
  .nav-footer-02 .box-footer .column-01 li:first-child {
    margin: 0 0 10px;
  }
  .nav-footer-02 .box-footer .column-02 {
    float: none;
    width: 50%;
    margin: 0;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
  }
  .nav-footer-02 .box-footer .column-02 li a {
    vertical-align: top;
    padding: 2px 10px 0 25px;
  }
  .nav-footer-02 .box-footer .column-02 li:first-child {
    margin: 0 0 10px;
  }
  .list {
    padding: 0;
    margin: 0;
  }
  .list li {
    display: inline-block;
    margin-bottom: 2px;
    line-height: 1.5;
  }
  .list li a {
    position: relative;
    display: block;
    padding: 2px 10px 2px 25px;
    color: #fff;
  }
  .list li a::before {
    top: 0.5em;
    left: 10px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-right-width: 5px;
    border-left: 5px solid #fff;
  }
  footer small.copyright {
    padding: 10px 15px;
    min-width: inherit;
    line-height: 1.5;
    text-align: center;
    font-size: 10px;
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  display: none;
}

.modal .modalbg {
  background: #3281dd;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.modal .modalcontents {
  z-index: 10;
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  width: 700px;
  max-height: 60vh;
  box-sizing: border-box;
  border-radius: 5px;
  background: #fff;
  margin: auto;
  padding: 30px 20px;
  text-align: center;
  display: none;
}

@media screen and (max-width: 767px) {
  .modal .modalcontents {
    width: 100%;
    max-height: initial;
    height: calc(100vh - 40px);
    padding: 10px;
    top: 40px;
  }
}

.modal.active {
  display: block;
}

.modal.active .modalcontents {
  display: block;
}

.modal span.modalcancel {
  position: absolute;
  width: 40px;
  height: 40px;
  display: inline-block;
  right: 0;
  top: -40px;
  cursor: pointer;
}

.modal span.modalcancel:before, .modal span.modalcancel:after {
  content: "";
  width: 52px;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -6px;
  margin: auto;
}

.modal span.modalcancel:before {
  transform: rotate(45deg);
  transform-origin: center center;
}

.modal span.modalcancel:after {
  transform: rotate(-45deg);
  transform-origin: center center;
}

.modal .modalcontents-main {
  max-height: calc(60vh - 40px);
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  .modal .modalcontents-main {
    max-height: calc(100vh - 60px);
  }
}

.select-wrap {
  width: 90%;
  margin: 0 auto;
}

.select-wrap .select-list {
  width: 100%;
  height: 300px;
  padding: 10px 20px;
  box-sizing: border-box;
  background: none;
  box-shadow: 0 0 0 #fff;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  text-align: left;
  overflow-y: auto;
}

.select-wrap .select-list .select-listitem {
  list-style-type: none;
  cursor: pointer;
}

.select-wrap .select-list .select-listitem.checked {
  background: #c9c9c9;
}

@media screen and (max-width: 767px) {
  .select-wrap .select-list {
    height: 240px;
  }
}

.modalcontents-btns button {
  min-width: 220px;
}

.modalcontents-btns button:nth-child(2) {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .modalcontents-btns button {
    width: 100%;
    margin: 0 auto 10px;
  }
  .modalcontents-btns button:nth-child(2) {
    margin-left: auto;
  }
}

.financialSearch-wrap {
  margin: 0 auto;
  padding: 0;
}

.financialSearch-wrap li {
  list-style-type: none;
  padding: 0;
}

.financialSearch-wrap .financialSearch-item {
  display: inline-block;
  margin: 0 15px 15px 0;
  width: 30%;
}

.financialSearch-wrap .financialSearch-item:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .financialSearch-wrap .financialSearch-item {
    width: 47%;
    margin: 0 5px 5px 0;
  }
  .financialSearch-wrap .financialSearch-item:nth-of-type(3n) {
    margin-right: 5px;
  }
  .financialSearch-wrap .financialSearch-item:nth-of-type(2n) {
    margin-right: 0;
  }
}

.financialSearch-wrap.order50 {
  text-align: left;
}

.financialSearch-wrap.order50 .financialSearch-item {
  width: 18%;
  margin: 0 5px 5px 0;
}

.financialSearch-wrap.order50 .financialSearch-item:nth-of-type(5n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .financialSearch-wrap.order50 .financialSearch-item {
    width: 30%;
  }
  .financialSearch-wrap.order50 .financialSearch-item:nth-of-type(5n) {
    margin-right: 5px;
  }
  .financialSearch-wrap.order50 .financialSearch-item:nth-of-type(3n) {
    margin-right: 0;
  }
}

.check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

.check + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-left: 1.25em;
  background: #fff;
  border: 2px solid #c9c9c9;
  border-radius: 5px;
  color: #c9c9c9;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 10px 0 30px;
  height: 45px;
}

.check + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  width: 1em;
  height: 1em;
  margin: auto;
  border: 2px solid #c9c9c9;
  border-radius: 50%;
}

.check:focus + label {
  box-shadow: 0 0 5px #1589ee;
}

.check:checked + label {
  background: #3281dd;
  border: 2px solid #3281dd;
  color: #fff;
}

.check:checked + label:before {
  border: 2px solid #fff;
  background: url("../img/common/checked-1.png") #fff no-repeat center center;
  background-size: 105% auto;
}

.check:disabled,
.check + label[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.financialSearch-wrap .check + label {
  padding: 0 10px;
  justify-content: center;
}

.financialSearch-wrap .check + label:before {
  content: none;
}

@media screen and (max-width: 767px) {
  .financialSearch-wrap .check + label {
    padding: 0;
  }
}

button {
  max-width: 350px;
  display: inline-block;
  padding: 13px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: #b5b5b5;
}

@media screen and (max-width: 767px) {
  button {
    max-width: 95%;
    width: 95%;
    margin: 0 auto;
  }
  button.spsmall {
    max-width: 95%;
    width: 95%;
    margin: 0 auto;
  }
  button.spauto {
    width: auto;
  }
}

button.form_plus {
  padding: 8px 20px 12px 5px;
  position: relative;
}

button.form_plus:before {
  content: "+";
  display: inline-block;
  vertical-align: bottom;
  margin: 0 5px 0 0;
  color: #fff;
  font-size: 30px;
  width: 23px;
  height: 24px;
  line-height: 1;
}

button.form_plus:focus:before {
  outline: 0;
}

button:focus {
  outline: 0;
  box-shadow: 0 0 5px #1589ee;
}

input, select {
  height: 45px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus, select:focus {
  outline: 0;
  box-shadow: 0 0 5px #1589ee;
}

input {
  padding: 0 10px;
}

input::placeholder, textarea::placeholder {
  color: #c9c9c9;
}

/* IE */
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #c9c9c9;
}

/* Edge */
textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  color: #c9c9c9;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 23px 0 10px;
  background: url(../img/common/select-off.png) no-repeat right 5px center;
  background-size: 15px auto;
}

select::-ms-expand {
  display: none;
}

textarea {
  padding: 10px;
  box-sizing: border-box;
}

textarea:focus {
  outline: 0;
  box-shadow: 0 0 5px #1589ee;
}

/* ヘルパークラス */
.mt0 {
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .mt0 {
    margin-top: 0px;
  }
}

.ml0 {
  margin-left: 0px;
}

@media screen and (max-width: 767px) {
  .ml0 {
    margin-left: 0px;
  }
}

.mb0 {
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .mb0 {
    margin-bottom: 0px;
  }
}

.mr0 {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  .mr0 {
    margin-right: 0px;
  }
}

.mt5 {
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .mt5 {
    margin-top: 3px;
  }
}

.ml5 {
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .ml5 {
    margin-left: 3px;
  }
}

.mb5 {
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .mb5 {
    margin-bottom: 3px;
  }
}

.mr5 {
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .mr5 {
    margin-right: 3px;
  }
}

.mt10 {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .mt10 {
    margin-top: 6px;
  }
}

.ml10 {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .ml10 {
    margin-left: 6px;
  }
}

.mb10 {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .mb10 {
    margin-bottom: 6px;
  }
}

.mr10 {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .mr10 {
    margin-right: 6px;
  }
}

.mt15 {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .mt15 {
    margin-top: 9px;
  }
}

.ml15 {
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .ml15 {
    margin-left: 9px;
  }
}

.mb15 {
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .mb15 {
    margin-bottom: 9px;
  }
}

.mr15 {
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .mr15 {
    margin-right: 9px;
  }
}

.mt20 {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .mt20 {
    margin-top: 12px;
  }
}

.ml20 {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .ml20 {
    margin-left: 12px;
  }
}

.mb20 {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .mb20 {
    margin-bottom: 12px;
  }
}

.mr20 {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .mr20 {
    margin-right: 12px;
  }
}

.mt25 {
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .mt25 {
    margin-top: 15px;
  }
}

.ml25 {
  margin-left: 25px;
}

@media screen and (max-width: 767px) {
  .ml25 {
    margin-left: 15px;
  }
}

.mb25 {
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .mb25 {
    margin-bottom: 15px;
  }
}

.mr25 {
  margin-right: 25px;
}

@media screen and (max-width: 767px) {
  .mr25 {
    margin-right: 15px;
  }
}

.mt30 {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .mt30 {
    margin-top: 18px;
  }
}

.ml30 {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .ml30 {
    margin-left: 18px;
  }
}

.mb30 {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .mb30 {
    margin-bottom: 18px;
  }
}

.mr30 {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .mr30 {
    margin-right: 18px;
  }
}

.mt35 {
  margin-top: 35px;
}

@media screen and (max-width: 767px) {
  .mt35 {
    margin-top: 21px;
  }
}

.ml35 {
  margin-left: 35px;
}

@media screen and (max-width: 767px) {
  .ml35 {
    margin-left: 21px;
  }
}

.mb35 {
  margin-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .mb35 {
    margin-bottom: 21px;
  }
}

.mr35 {
  margin-right: 35px;
}

@media screen and (max-width: 767px) {
  .mr35 {
    margin-right: 21px;
  }
}

.mt40 {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .mt40 {
    margin-top: 24px;
  }
}

.ml40 {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .ml40 {
    margin-left: 24px;
  }
}

.mb40 {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .mb40 {
    margin-bottom: 24px;
  }
}

.mr40 {
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .mr40 {
    margin-right: 24px;
  }
}

.mt45 {
  margin-top: 45px;
}

@media screen and (max-width: 767px) {
  .mt45 {
    margin-top: 27px;
  }
}

.ml45 {
  margin-left: 45px;
}

@media screen and (max-width: 767px) {
  .ml45 {
    margin-left: 27px;
  }
}

.mb45 {
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .mb45 {
    margin-bottom: 27px;
  }
}

.mr45 {
  margin-right: 45px;
}

@media screen and (max-width: 767px) {
  .mr45 {
    margin-right: 27px;
  }
}

.mt50 {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .mt50 {
    margin-top: 30px;
  }
}

.ml50 {
  margin-left: 50px;
}

@media screen and (max-width: 767px) {
  .ml50 {
    margin-left: 30px;
  }
}

.mb50 {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .mb50 {
    margin-bottom: 30px;
  }
}

.mr50 {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .mr50 {
    margin-right: 30px;
  }
}

.mt55 {
  margin-top: 55px;
}

@media screen and (max-width: 767px) {
  .mt55 {
    margin-top: 33px;
  }
}

.ml55 {
  margin-left: 55px;
}

@media screen and (max-width: 767px) {
  .ml55 {
    margin-left: 33px;
  }
}

.mb55 {
  margin-bottom: 55px;
}

@media screen and (max-width: 767px) {
  .mb55 {
    margin-bottom: 33px;
  }
}

.mr55 {
  margin-right: 55px;
}

@media screen and (max-width: 767px) {
  .mr55 {
    margin-right: 33px;
  }
}

.mt60 {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .mt60 {
    margin-top: 36px;
  }
}

.ml60 {
  margin-left: 60px;
}

@media screen and (max-width: 767px) {
  .ml60 {
    margin-left: 36px;
  }
}

.mb60 {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .mb60 {
    margin-bottom: 36px;
  }
}

.mr60 {
  margin-right: 60px;
}

@media screen and (max-width: 767px) {
  .mr60 {
    margin-right: 36px;
  }
}

.mt65 {
  margin-top: 65px;
}

@media screen and (max-width: 767px) {
  .mt65 {
    margin-top: 39px;
  }
}

.ml65 {
  margin-left: 65px;
}

@media screen and (max-width: 767px) {
  .ml65 {
    margin-left: 39px;
  }
}

.mb65 {
  margin-bottom: 65px;
}

@media screen and (max-width: 767px) {
  .mb65 {
    margin-bottom: 39px;
  }
}

.mr65 {
  margin-right: 65px;
}

@media screen and (max-width: 767px) {
  .mr65 {
    margin-right: 39px;
  }
}

.mt70 {
  margin-top: 70px;
}

@media screen and (max-width: 767px) {
  .mt70 {
    margin-top: 42px;
  }
}

.ml70 {
  margin-left: 70px;
}

@media screen and (max-width: 767px) {
  .ml70 {
    margin-left: 42px;
  }
}

.mb70 {
  margin-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .mb70 {
    margin-bottom: 42px;
  }
}

.mr70 {
  margin-right: 70px;
}

@media screen and (max-width: 767px) {
  .mr70 {
    margin-right: 42px;
  }
}

.mt75 {
  margin-top: 75px;
}

@media screen and (max-width: 767px) {
  .mt75 {
    margin-top: 45px;
  }
}

.ml75 {
  margin-left: 75px;
}

@media screen and (max-width: 767px) {
  .ml75 {
    margin-left: 45px;
  }
}

.mb75 {
  margin-bottom: 75px;
}

@media screen and (max-width: 767px) {
  .mb75 {
    margin-bottom: 45px;
  }
}

.mr75 {
  margin-right: 75px;
}

@media screen and (max-width: 767px) {
  .mr75 {
    margin-right: 45px;
  }
}

.pt0 {
  padding-top: 0px;
}

@media screen and (max-width: 767px) {
  .pt0 {
    padding-top: 0px;
  }
}

.pl0 {
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .pl0 {
    padding-left: 0px;
  }
}

.pb0 {
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .pb0 {
    padding-bottom: 0px;
  }
}

.pr0 {
  padding-right: 0px;
}

@media screen and (max-width: 767px) {
  .pr0 {
    padding-right: 0px;
  }
}

.pt5 {
  padding-top: 5px;
}

@media screen and (max-width: 767px) {
  .pt5 {
    padding-top: 3px;
  }
}

.pl5 {
  padding-left: 5px;
}

@media screen and (max-width: 767px) {
  .pl5 {
    padding-left: 3px;
  }
}

.pb5 {
  padding-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .pb5 {
    padding-bottom: 3px;
  }
}

.pr5 {
  padding-right: 5px;
}

@media screen and (max-width: 767px) {
  .pr5 {
    padding-right: 3px;
  }
}

.pt10 {
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .pt10 {
    padding-top: 6px;
  }
}

.pl10 {
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  .pl10 {
    padding-left: 6px;
  }
}

.pb10 {
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .pb10 {
    padding-bottom: 6px;
  }
}

.pr10 {
  padding-right: 10px;
}

@media screen and (max-width: 767px) {
  .pr10 {
    padding-right: 6px;
  }
}

.pt15 {
  padding-top: 15px;
}

@media screen and (max-width: 767px) {
  .pt15 {
    padding-top: 9px;
  }
}

.pl15 {
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .pl15 {
    padding-left: 9px;
  }
}

.pb15 {
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .pb15 {
    padding-bottom: 9px;
  }
}

.pr15 {
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .pr15 {
    padding-right: 9px;
  }
}

.pt20 {
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  .pt20 {
    padding-top: 12px;
  }
}

.pl20 {
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  .pl20 {
    padding-left: 12px;
  }
}

.pb20 {
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .pb20 {
    padding-bottom: 12px;
  }
}

.pr20 {
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .pr20 {
    padding-right: 12px;
  }
}

.pt25 {
  padding-top: 25px;
}

@media screen and (max-width: 767px) {
  .pt25 {
    padding-top: 15px;
  }
}

.pl25 {
  padding-left: 25px;
}

@media screen and (max-width: 767px) {
  .pl25 {
    padding-left: 15px;
  }
}

.pb25 {
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .pb25 {
    padding-bottom: 15px;
  }
}

.pr25 {
  padding-right: 25px;
}

@media screen and (max-width: 767px) {
  .pr25 {
    padding-right: 15px;
  }
}

.pt30 {
  padding-top: 30px;
}

@media screen and (max-width: 767px) {
  .pt30 {
    padding-top: 18px;
  }
}

.pl30 {
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .pl30 {
    padding-left: 18px;
  }
}

.pb30 {
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .pb30 {
    padding-bottom: 18px;
  }
}

.pr30 {
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  .pr30 {
    padding-right: 18px;
  }
}

.pt35 {
  padding-top: 35px;
}

@media screen and (max-width: 767px) {
  .pt35 {
    padding-top: 21px;
  }
}

.pl35 {
  padding-left: 35px;
}

@media screen and (max-width: 767px) {
  .pl35 {
    padding-left: 21px;
  }
}

.pb35 {
  padding-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .pb35 {
    padding-bottom: 21px;
  }
}

.pr35 {
  padding-right: 35px;
}

@media screen and (max-width: 767px) {
  .pr35 {
    padding-right: 21px;
  }
}

.pt40 {
  padding-top: 40px;
}

@media screen and (max-width: 767px) {
  .pt40 {
    padding-top: 24px;
  }
}

.pl40 {
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .pl40 {
    padding-left: 24px;
  }
}

.pb40 {
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .pb40 {
    padding-bottom: 24px;
  }
}

.pr40 {
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .pr40 {
    padding-right: 24px;
  }
}

.pt45 {
  padding-top: 45px;
}

@media screen and (max-width: 767px) {
  .pt45 {
    padding-top: 27px;
  }
}

.pl45 {
  padding-left: 45px;
}

@media screen and (max-width: 767px) {
  .pl45 {
    padding-left: 27px;
  }
}

.pb45 {
  padding-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .pb45 {
    padding-bottom: 27px;
  }
}

.pr45 {
  padding-right: 45px;
}

@media screen and (max-width: 767px) {
  .pr45 {
    padding-right: 27px;
  }
}

.pt50 {
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  .pt50 {
    padding-top: 30px;
  }
}

.pl50 {
  padding-left: 50px;
}

@media screen and (max-width: 767px) {
  .pl50 {
    padding-left: 30px;
  }
}

.pb50 {
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .pb50 {
    padding-bottom: 30px;
  }
}

.pr50 {
  padding-right: 50px;
}

@media screen and (max-width: 767px) {
  .pr50 {
    padding-right: 30px;
  }
}

.pt55 {
  padding-top: 55px;
}

@media screen and (max-width: 767px) {
  .pt55 {
    padding-top: 33px;
  }
}

.pl55 {
  padding-left: 55px;
}

@media screen and (max-width: 767px) {
  .pl55 {
    padding-left: 33px;
  }
}

.pb55 {
  padding-bottom: 55px;
}

@media screen and (max-width: 767px) {
  .pb55 {
    padding-bottom: 33px;
  }
}

.pr55 {
  padding-right: 55px;
}

@media screen and (max-width: 767px) {
  .pr55 {
    padding-right: 33px;
  }
}

.pt60 {
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .pt60 {
    padding-top: 36px;
  }
}

.pl60 {
  padding-left: 60px;
}

@media screen and (max-width: 767px) {
  .pl60 {
    padding-left: 36px;
  }
}

.pb60 {
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .pb60 {
    padding-bottom: 36px;
  }
}

.pr60 {
  padding-right: 60px;
}

@media screen and (max-width: 767px) {
  .pr60 {
    padding-right: 36px;
  }
}

.pt65 {
  padding-top: 65px;
}

@media screen and (max-width: 767px) {
  .pt65 {
    padding-top: 39px;
  }
}

.pl65 {
  padding-left: 65px;
}

@media screen and (max-width: 767px) {
  .pl65 {
    padding-left: 39px;
  }
}

.pb65 {
  padding-bottom: 65px;
}

@media screen and (max-width: 767px) {
  .pb65 {
    padding-bottom: 39px;
  }
}

.pr65 {
  padding-right: 65px;
}

@media screen and (max-width: 767px) {
  .pr65 {
    padding-right: 39px;
  }
}

.pt70 {
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .pt70 {
    padding-top: 42px;
  }
}

.pl70 {
  padding-left: 70px;
}

@media screen and (max-width: 767px) {
  .pl70 {
    padding-left: 42px;
  }
}

.pb70 {
  padding-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .pb70 {
    padding-bottom: 42px;
  }
}

.pr70 {
  padding-right: 70px;
}

@media screen and (max-width: 767px) {
  .pr70 {
    padding-right: 42px;
  }
}

.pt75 {
  padding-top: 75px;
}

@media screen and (max-width: 767px) {
  .pt75 {
    padding-top: 45px;
  }
}

.pl75 {
  padding-left: 75px;
}

@media screen and (max-width: 767px) {
  .pl75 {
    padding-left: 45px;
  }
}

.pb75 {
  padding-bottom: 75px;
}

@media screen and (max-width: 767px) {
  .pb75 {
    padding-bottom: 45px;
  }
}

.pr75 {
  padding-right: 75px;
}

@media screen and (max-width: 767px) {
  .pr75 {
    padding-right: 45px;
  }
}

.w0 {
  width: 0px;
}

.w25 {
  width: 25px;
}

.w50 {
  width: 50px;
}

.w75 {
  width: 75px;
}

.w100 {
  width: 100px;
}

.w125 {
  width: 125px;
}

.w150 {
  width: 150px;
}

.w175 {
  width: 175px;
}

.w200 {
  width: 200px;
}

.w225 {
  width: 225px;
}

.w250 {
  width: 250px;
}

.w275 {
  width: 275px;
}

.w300 {
  width: 300px;
}

.w325 {
  width: 325px;
}

.w350 {
  width: 350px;
}

.w375 {
  width: 375px;
}

.w400 {
  width: 400px;
}

.w425 {
  width: 425px;
}

.w450 {
  width: 450px;
}

.w475 {
  width: 475px;
}

.w500 {
  width: 500px;
}

.w525 {
  width: 525px;
}

.w550 {
  width: 550px;
}

.w575 {
  width: 575px;
}

.w600 {
  width: 600px;
}

.w625 {
  width: 625px;
}

.w0p {
  width: 0%;
}

.w5p {
  width: 5%;
}

.w10p {
  width: 10%;
}

.w15p {
  width: 15%;
}

.w20p {
  width: 20%;
}

.w25p {
  width: 25%;
}

.w30p {
  width: 30%;
}

.w35p {
  width: 35%;
}

.w40p {
  width: 40%;
}

.w45p {
  width: 45%;
}

.w50p {
  width: 50%;
}

.w55p {
  width: 55%;
}

.w60p {
  width: 60%;
}

.w65p {
  width: 65%;
}

.w70p {
  width: 70%;
}

.w75p {
  width: 75%;
}

.w80p {
  width: 80%;
}

.w85p {
  width: 85%;
}

.w90p {
  width: 90%;
}

.w95p {
  width: 95%;
}

.w100p {
  width: 100%;
}

.indent {
  display: inline-block;
  text-indent: -1em;
  padding-left: 1em;
}

.ta-L {
  text-align: left;
}

.ta-C {
  text-align: center;
}

.ta-R {
  text-align: right;
}

.va-T {
  vertical-align: top;
}

.va-M {
  vertical-align: middle;
}

.va-B {
  vertical-align: bottom;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.onlysp {
  display: none;
}

@media screen and (max-width: 767px) {
  .onlysp {
    display: inline-block;
  }
}

.onlypc {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .onlypc {
    display: none;
  }
}

.txtblue {
  color: #3281dd;
}

.txtgray {
  color: #c9c9c9;
}

.txtorange {
  color: #ff5722;
}

.txtred {
  color: #f00;
}

.txtinta {
  color: initial;
}

.bgblue {
  background-color: #3281dd;
}

.bggray {
  background-color: #c9c9c9;
}

.bgorange {
  background-color: #ff5722;
}

.bgyellow {
  background-color: #fd8e00;
}

.bginta {
  background-color: initial;
}

.iconlink {
  position: relative;
  display: inline-block;
  line-height: 1;
}

.iconlink.pdf:after {
  content: "";
  display: inline-block;
  background: url(../img/common/ico_pdf_01.png) no-repeat center center;
  background-size: 16px auto;
  vertical-align: top;
  width: 1em;
  height: 1em;
  margin: 0 5px;
}

.iconlink.question:before {
  content: "";
  display: inline-block;
  background: url(../img/common/question.png) no-repeat center center;
  background-size: 16px auto;
  width: 1.1em;
  height: 1.1em;
  vertical-align: bottom;
  margin: 0 5px;
}

@media screen and (max-width: 767px) {
  .iconlink.question:before {
    margin: 0 5px 0 0;
  }
}

.iconlink.camera:before {
  content: "";
  display: inline-block;
  background: url(../img/common/ico_camera.png) no-repeat center center;
  background-size: 18px auto;
  width: 1.1em;
  height: 1.1em;
  vertical-align: bottom;
  margin: 0 5px;
}

.iconlink.leftarrow:before {
  content: "";
  margin-right: 1px;
  display: inline-block;
  border: 4px solid transparent;
  border-right-width: 5px;
  border-left: 5px solid #3281dd;
}

.iconExclamation:before {
  content: "";
  display: inline-block;
  background: url(../img/common/ico_exclamation.png) no-repeat center center;
  background-size: 24px auto;
  width: 1.1em;
  height: 1.1em;
  margin: 4px 5px 0 0;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .iconExclamation:before {
    background-size: 20px auto;
  }
}

@media screen and (max-width: 767px) {
  .spw100p {
    width: 100%;
  }
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.6;
}

html.bglock, body.bglock {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  html.bglock, body.bglock {
    overflow: auto;
    position: fixed;
  }
}

h1 {
  font-size: 28px;
  color: #3281dd;
  margin: 0;
}

@media screen and (max-width: 767px) {
  h1 {
    line-height: 1.3;
  }
}

h2 {
  color: #3281dd;
  font-weight: 100;
  font-size: 24px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 20px;
  }
}

h2 strong {
  font-weight: 700;
}

h3 {
  font-size: 18px;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #3281dd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol, ul {
  margin: 0;
  padding-left: 2em;
}

ol.nonstyle, ul.nonstyle {
  padding-left: 0;
}

ol.nonstyle li, ul.nonstyle li {
  list-style-type: none;
  text-indent: -1em;
  padding-left: 1em;
}

small {
  font-size: 14px;
}

hr {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  margin: 15px 0 25px;
  box-shadow: none;
  border: none;
  border-top: 1px dashed #c9c9c9;
}

@media screen and (max-width: 767px) {
  hr {
    margin: 5px 0 10px;
  }
}

.wrap {
  width: 760px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 0 0;
}

@media screen and (max-width: 767px) {
  .wrap {
    width: 95%;
    padding: 20px 0 0;
  }
}

.inputform {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.inputform dt, .inputform dd {
  box-sizing: border-box;
}

.inputform-label.notopBorder, .inputform-forms.notopBorder {
  border-top: none;
}

.inputform-label {
  color: #3281dd;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 60px;
  width: 30%;
  padding: 20px 15px 0 0;
  margin: 0;
  border-top: 1px dashed #c9c9c9;
}

.inputform-label.vertical {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .inputform-label {
    width: 100%;
    min-height: auto;
    margin: 5px 0;
  }
}

.inputform-forms {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 69%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 80px;
  margin: 0;
  padding: 20px 0;
  border-top: 1px dashed #c9c9c9;
  word-break: break-all;
}

.inputform-forms > label {
  color: #3281dd;
}

.inputform-forms_txt {
  margin-right: auto;
}

.inputform-forms .datesbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 62%;
  margin-right: auto;
}

.inputform-forms .datesbox .year {
  width: 40%;
}

.inputform-forms .datesbox .month, .inputform-forms .datesbox .date {
  width: 27%;
}

@media screen and (max-width: 767px) {
  .inputform-forms .datesbox {
    width: 100%;
    flex-wrap: wrap;
  }
}

.inputform-forms .datesbox.birth {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .inputform-forms .datesbox.birth .year {
    width: 100%;
    margin: 0 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .inputform-forms .datesbox.birth .month, .inputform-forms .datesbox.birth .date {
    width: 48%;
  }
}

.inputform-forms .datesbox2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 33%;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .inputform-forms .datesbox2 {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin: 10px 0 0;
  }
  .inputform-forms .datesbox2 label {
    margin: 0 0 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .inputform-forms .addressbox a {
    display: inline-block;
    margin: 10px 0 0;
  }
}

.inputform-forms .telbox_old {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 75%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
}

.inputform-forms .telbox_old input[type=number] {
  width: 30%;
}

.inputform-forms .telbox_old label {
  font-weight: 700;
  color: #3281dd;
}

@media screen and (max-width: 767px) {
  .inputform-forms .telbox_old {
    width: 100%;
  }
}

.inputform-forms .telbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap;
}

.inputform-forms .telbox input[type=number] {
  width: 100%;
}

.inputform-forms .namebox {
  display: inline-block;
  width: 49%;
}

@media screen and (max-width: 767px) {
  .inputform-forms .namebox {
    width: 100%;
  }
  .inputform-forms .namebox:last-child {
    margin: 10px 0 0;
  }
}

.inputform-forms .check-wrap {
  margin-right: auto;
}

.inputform-forms .check-wrap_spblocks {
  width: 100%;
}

.inputform-forms .check-wrap_spblocks label {
  width: 40%;
}

@media screen and (max-width: 767px) {
  .inputform-forms .check-wrap_spblocks {
    margin: 10px 0 0;
  }
  .inputform-forms .check-wrap_spblocks label {
    width: 100%;
  }
  .inputform-forms .check-wrap_spblocks label:first-of-type {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .inputform-forms .check-wrap {
    width: 100%;
  }
  .inputform-forms .check-wrap.multiplelines {
    flex-wrap: wrap;
    text-align: center;
  }
  .inputform-forms .check-wrap.multiplelines label {
    width: 45%;
    margin-bottom: 10px;
  }
  .inputform-forms .check-wrap.multiplelines label:nth-of-type(even).mr20 {
    margin-right: 0;
  }
}

.inputform-forms.vertical {
  width: 100%;
}

.inputform-forms.aligntop {
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .inputform-forms {
    width: 100%;
    margin: 0;
    min-height: auto;
    border-top: 0;
    padding: 10px 0 15px;
  }
}

.inputform-forms .error-message {
  display: none;
}

.inputform-forms.error .error-message {
  display: inline-block;
}

.inputform-forms.error input {
  border-color: #ff5722;
  background: #fdebeb;
  border-width: 2px;
  color: #ff5722;
}

.imgUploadBox {
  width: 70%;
  height: 300px;
  margin: 20px 0;
  border: 1px solid #3281dd;
  border-radius: 5px;
}

.imgUploadBox_btns {
  width: 70%;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .imgUploadBox_btns {
    width: 100%;
  }
  .imgUploadBox_btns button {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .imgUploadBox {
    width: 100%;
    height: 250px;
  }
}

.pageft-nextpage {
  margin: 50px 0 0;
  width: 100%;
  border-top: 2px solid #3281dd;
  text-align: center;
  box-sizing: border-box;
  padding: 30px 0;
}

.pageft-nextpage button {
  min-width: 240px;
  font-size: 20px;
}

.pageft-nextpage .prevlink {
  display: inline-block;
  line-height: 1;
  color: #3281dd;
  font-size: 16px;
  text-decoration: none;
  background: url(../img/common/prevlink.png) no-repeat left center;
  padding: 10px 0 10px 45px;
}

.pageft-tel {
  width: 100%;
  border-top: 1px solid #c9c9c9;
}

.pageft-tel_box {
  margin-left: calc( (100% - 760px) / 2);
  box-sizing: border-box;
  padding: 30px 10px;
  width: 435px;
}

.pageft-tel_box img {
  width: 100%;
  max-width: 357px;
}

.pageft-tel_box span {
  font-size: 14px;
  padding: 10px 0 0 0;
  box-sizing: border-box;
  line-height: 1.4;
  display: inline-block;
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .pageft-tel_box {
    margin-left: 0;
    width: 100%;
    max-width: 357px;
    text-align: right;
  }
  .pageft-tel_box span {
    padding: 5px 0 0 0;
    width: 100vw;
    max-width: 100%;
    text-align: left;
  }
}

.radiodetails {
  display: none;
}

.radiodetails.active {
  display: block;
}

.borderBox {
  border-radius: 5px;
  padding: 15px;
  border: 1px solid;
  box-sizing: border-box;
  width: 100%;
}

.borderBox.gray {
  border-color: #c9c9c9;
}

.borderBox.blue {
  border-color: #3281dd;
}

.main4column {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main4column li {
  list-style-type: none;
  width: 23%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-flow: column;
  text-align: center;
  position: relative;
}

.main4column li:after {
  position: absolute;
  right: 0;
  display: inline-block;
  top: calc(50% - 20px);
  content: ">";
  color: #3281dd;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .main4column li:after {
    top: initial;
    bottom: -25px;
    left: 0;
    right: 0;
    width: 22px;
    height: 27px;
    text-align: center;
    margin: 0 auto;
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 767px) {
  .main4column li {
    margin-bottom: 20px;
  }
}

.main4column li:last-of-type:after {
  content: "";
}

@media screen and (max-width: 767px) {
  .main4column li:last-of-type {
    margin-bottom: 0;
  }
}

.main4column li .main4column-ttl {
  order: 1;
  color: #3281dd;
  width: 100%;
  text-align: left;
  font-size: 15px;
  text-indent: -20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.main4column li .main4column-ttl:before {
  content: "";
  line-height: 1;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
}

.main4column li:nth-child(0) .main4column-ttl:before {
  background: url("../img/page/01-no0.png");
  background-size: 100% auto;
  background-position: center center;
}

.main4column li:nth-child(1) .main4column-ttl:before {
  background: url("../img/page/01-no1.png");
  background-size: 100% auto;
  background-position: center center;
}

.main4column li:nth-child(2) .main4column-ttl:before {
  background: url("../img/page/01-no2.png");
  background-size: 100% auto;
  background-position: center center;
}

.main4column li:nth-child(3) .main4column-ttl:before {
  background: url("../img/page/01-no3.png");
  background-size: 100% auto;
  background-position: center center;
}

.main4column li:nth-child(4) .main4column-ttl:before {
  background: url("../img/page/01-no4.png");
  background-size: 100% auto;
  background-position: center center;
}

.main4column li .main4column-icn {
  order: 2;
  width: auto;
  height: 50px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.main4column li .main4column-icn img {
  height: 100%;
}

.main4column li .main4column-txt {
  order: 3;
  width: auto;
  max-width: 100%;
  text-align: left;
  font-size: 13px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .main4column li {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-flow: inherit;
  }
  .main4column li .main4column-ttl {
    order: 2;
    width: calc(100% - 60px);
  }
  .main4column li .main4column-icn {
    order: 1;
    width: 40px;
    height: auto;
    margin: 0;
  }
  .main4column li .main4column-icn img {
    width: 100%;
    height: auto;
  }
}

.bglemon {
  background: #fcfaeb;
}

.halfbox {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.halfbox li {
  list-style-type: none;
  width: 49%;
}

.halfbox li button {
  width: 80%;
  display: block;
  margin: 20px auto 0;
}

@media screen and (max-width: 767px) {
  .halfbox {
    flex-wrap: wrap;
  }
  .halfbox li {
    width: 100%;
  }
  .halfbox li:first-of-type {
    margin: 0 0 10px;
  }
  .halfbox li button {
    width: 95%;
  }
}

.call-nb {
  display: inline-block;
  vertical-align: middle;
  max-width: 50%;
}

.call-nb a {
  font-size: 32px;
  font-weight: 700;
}

.call-nb a ruby > rt {
  font-size: 12px;
  font-weight: 100;
}

.call-nb a:hover {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .call-nb {
    max-width: 100%;
  }
  .call-nb a {
    font-size: 28px;
  }
}

.call-open {
  display: inline-flex;
  vertical-align: middle;
  max-width: 47%;
}

.call-open_ttl {
  background: #c9c9c9;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  padding: 0 10px;
  font-weight: 700;
  border-radius: 5px;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 767px) {
  .call-open {
    max-width: 100%;
  }
}

.spbox {
  text-align: center;
  color: #3281dd;
}

@media screen and (max-width: 767px) {
  .spbox {
    width: 150px;
    display: block;
    margin: 0 auto;
    text-align: left;
  }
}

.p30 {
  padding: 15px 30px;
  box-sizing: border-box;
}

.maintenance-ttl {
  font-size: 30px;
  text-align: center;
  margin: 60px 0 20px;
  width: 100%;
  font-weight: 100;
  position: relative;
  box-sizing: border-box;
}

.maintenance-ttl:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  left: 0;
  right: 0;
  top: -60px;
  margin: 0 auto;
}

.maintenance-ttl.orange {
  color: #ff5722;
}

.maintenance-ttl.orange:before {
  background: url(../img/common/caution-orange.png) no-repeat center center;
  background-size: 100% auto;
}

.maintenance-ttl.blue {
  color: #3281dd;
}

.maintenance-ttl.blue:before {
  background: url(../img/common/caution.png) no-repeat center center;
  background-size: 100% auto;
}

@media screen and (max-width: 767px) {
  .maintenance-ttl {
    font-size: 20px;
    margin: 50px 0 10px;
  }
  .maintenance-ttl:before {
    top: -50px;
  }
}
